:root{
    --frontColor: #22222d;
    --higtLight: #2c2c3a;
    --backColor: #1c1d26;
    --fontColor: #707285;
    --borderColor: #323343;
    --niceBlue: #36a3ff;
    --niceRed: #e9194e;
    --niceYellow: #ff8c00;
}
body{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: var(--backColor);
}
#background{
    position: fixed;
    opacity: 0.01;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}
canvas{
    position: fixed;
}
#content{
    width: 100vw;
    height: 100vh;
}
#search_results{
    position: relative;
    width: 100vw;
    height: calc(100vh - 86px);
    overflow-y: auto;
    overflow-x: hidden;
}
#spacer {
    width: 1px;           
    height: 0px;
}
#visibleItems{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}
.item{
    width: 100%;
    padding-left: 5px;
    display: flex;
}
#searchBar{
    height: 58px;
}
#search{
    width: calc(100% - 15px);
    height: 20px;
    border: 5px solid #1d1d1d;
    border-radius: 10px;
    outline: none;
}
#searchInfo{
    background-color: black;
    height: 25px;
    padding-left: 5px;
}
.foundPart{
    color: rgb(221, 105, 105);
    pointer-events: none;
}
.fileName_selected{
    outline: 2px dotted green;
    background-color: blue;
    padding-right: 5px;
    width: fit-content;
}
#search_header{
    height: 25px;
    width: 100%;
    min-width: fit-content;
    display: flex;
    background-color: #272727;
}
#nameHeader{
    width: 300px;
}
#pathHeader{
    width: 400px;
}
#sizeHeader{
    width: 100px;
}
#modHeader{
    width: 200px;
}
.headerSection:not(:first-of-type){
    border-left: 1px solid rgb(255, 255, 255);
    padding-left: 5px;
}
.headerSection{
    padding-left: 5px;
    margin-left: 5px;
}
.fileData{
    text-wrap: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    flex-shrink: 0;
    overflow: hidden;
    padding-left: 5px;
    margin-right: 5px;
}
.fileName > span {
    pointer-events: none;
}
.fileName{
    cursor: pointer;
    width: 300px;
}
.filePath{
    width: 400px;
}
.fileSize{
    width: 100px;   
}
.fileMtime{
    width: 200px;
}
#quickSearch{
    display: none;
}
#main{
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
#graphs{
    display: flex;
    width: 90%;
    gap: 10px;
}
.smallWindow{
    border: 1px solid var(--borderColor);
    border-radius: 7px;
    background-color: var(--frontColor);
}
.graph{
    width: 50%;
    height: 150px;
    display: flex;
    padding: 10px;
    align-items: center;
}
#graphLine{
    border-radius: 5px;
    width: 90%;
    height: 25px;
    background-color: var(--fontColor);
    overflow: hidden;
    display: flex;
}
#graphLineIn{
    background-color: var(--niceBlue);
    width: 100%;
    height: 100%;
}
.headLine{
    width: 90%;
    color: white;
    padding: 20px 0px;
    font-weight: bold;
    text-transform: uppercase;
}
.headers{
    width: 90%;
    padding: 10px 0px;
    display: flex;
    gap: 40px;
}
.headerSize{
    font-size: 16px;
    color: var(--fontColor);
    font-weight: bold;
}
.headerValue{
    font-size: 22px;
    font-weight: bold;
}
#spaceDistribution{
    display: flex;
    flex-direction: column;
    min-width: 500px;
}
#spaceLegend{
    display: flex;
    gap: 20px;
    width: 90%;
    padding: 20px 0px;
}
#fileDistribution{
    min-width: 250px;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#totalFiles{
    font-size: 22px;
    font-weight: bold;
    width: 90%;
}
#distGrapth{
    display: flex;
    height: 100px;
    gap: 5px;
    position: relative;
    width: 90%;
    align-items: flex-end;
}
#drives{
    display: flex;
    gap: 10px;
    width: 90%;
}
.diskInfo{
    transition: 0.3s;
    outline: unset;
}
.diskInfo:hover{
    border-color: var(--niceBlue);
    transition: 0.3s;
    cursor: pointer;
}
#singleLocationView{
    display: none;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
#singleViewContent{
    width: 90%;
}
#nav{
    border-bottom: 1px solid var(--borderColor);
    height: 50px;
    display: flex;
    align-items: center;
}
#navButtons{
    display: flex;
    margin-left: 10px;
    border-radius: 10px;
    overflow: hidden;
}
#forwardArrow{
    scale: -1;
}
.navArrow{
    background-image: url("arrow.png");
    width: 16px;
    height: 16px;
    border: 10px solid var(--backColor);
    background-size: cover;
    image-rendering: pixelated;
    transition: 0.2s;
    opacity: 0.5;
}
.active{
    opacity: 1;
}
.navArrow.active:hover{
    background-color: var(--higtLight);
    border-color: var(--higtLight);
    transition: 0.2s;
    cursor: pointer;
}
.UI_button:hover{
    filter: brightness(1.1);
    transition: 0.3s;
}
#loadingScreen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}
#loadingWindow{
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--frontColor);
    border: 2px solid var(--borderColor);
    border-radius: 15px;
    font-size: 25px;
}